@using System.Web.UI.HtmlControls
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Layout</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,800%7CLato:300,400,700" rel="stylesheet" type="text/css">
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/ionicons.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <!--Main Slider-->
    <link href="../../assets/css/settings.css" type="text/css" rel="stylesheet" media="screen">
    <link href="../../assets/css/layers.css" type="text/css" rel="stylesheet" media="screen">
    <!-- carousel -->
    <!--Light box-->
    <link href="../../assets/css/jquery.fancybox.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="../../assets/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../../assets/js/jquery.leanModal.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="../../assets/css/loginStyle.css" />
</head>

<body>
    <!--Header Section Start Here
        ==================================-->
    <header>
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <!-- START LOGO DESIGN AREA -->
                        <div class="logo">
                            <a href="index.html">
                                <img src="../../assets/images/logo.png" alt="Logo">
                            </a>
                        </div>
                        <!-- END LOGO DESIGN AREA -->
                    </div>
                    <div class="col-md-10">
                        <!-- START MENU DESIGN AREA -->
                        <div class="mainmenu navbar-toggleable-sm">
                            <div class="navbar navbar-nobg">
                                <div class="navbar-header hidden-md-up">
                                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right justify-content-end justify-content-sm-end">
                                        <li>
                                            <a href="@Url.Action("Index", "Home")">Home</a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("About", "Home")">About us </a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("Services", "Home")">Services </a>

                                        </li>
                                         <li>
                                            <a href="@Url.Action("Contactus", "Home")">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Experts", "Home")">Career Experts </a>
                                        </li>
                                    </ul>
                                    <div class="loginb" id="userlogin">
                                        <a id="modal_trigger" href="#modal">Login </a>
                                    </div>
                                    <div class="loginb" id="userdropdown" style="display: none">
                                        <li class='detail'><a href='#'><span>Test 1</span></a> 
                                            <ul class="" role="menu" aria-labelledby="menu1">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                                            </ul>
                                        </li>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- END MENU DESIGN AREA -->

                    </div>
                </div>
                <!-- Login/register popup start here -->
                <div id="modal" class="popupContainer" style="display: none;">
                    <header class="popupHeader">
                        <span class="header_title">Login</span>
                        <span class="modal_close"><i class="fa fa-times"></i></span>
                    </header>

                    <section class="popupBody">
                        <!-- Social Login -->
                        <button class="loginBtn loginBtn--facebook">
                            Login with Facebook
                        </button>

                        <button class="loginBtn loginBtn--google">
                            Login with Google
                        </button>

                        <div class="centeredText">
                            <span>-----Or use your Email address-----</span>
                        </div>

                        <!-- Username & Password Login form -->
                        <div class="user_login">
                            <form id="loginForm">
                                <label>Email / Username</label>
                                <input type="text" name="Username" id="logUser" />

                                <label>Password</label>
                                <input type="password" id="logPassword" name="Password" />

                                <div class="action_btns">
                                    @* <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i>Back</a></div>*@
                                    <div class="one_half last"><a href="#" class="btn btn_red" onclick="Login()">Login</a></div>
                                </div>
                            </form>
                            <div class="signup">
                                <a href="#" class="forgot_password">Forgot password?</a>
                                <span>Don't have an account ? </span>
                                <a href="#" id="register_form" class="">Sign up</a>
                            </div>

                        </div>


                        <!-- Register Form -->
                        <div class="user_register">

                            <div id="message1">
                                <div class="alert alert-success">
                                    <span class="glyphicon glyphicon-ok"></span><strong>Success Message! Your Registration is completed</strong>
                                </div>
                            </div>
                            <div id="message2">
                                <div class="alert alert-danger">
                                    <span class="glyphicon glyphicon-remove"></span><strong>Error Message! Your Reguistration is not completed</strong>
                                </div>
                            </div>
                            <div id="message3">
                                <div class="alert alert-danger">
                                    <span class="glyphicon glyphicon-remove"></span><strong>User name already exists.</strong>
                                </div>
                            </div>

                            <form id="Registration">
                                <input type="text" name="FullName" id="Fullname" placeholder="Full Name" />
                                <input type="email" name="EmailID" id="Email" placeholder="Email" />
                                <input type="text" name="ContactNumber" id="Contactnumber" placeholder="Contact Number" />
                                <input type="text" name="Username" id="User" placeholder="Username" />
                                <input type="password" name="Password" id="Password" placeholder="Password" />

                                <div class="action_btns">
                                    <div class="one_half last"><a href="#" class="btn btn_red" onclick="SaveForm()">Register</a></div>
                                </div>
                            </form>
                            <div class="haveaccount">
                                <span>Please Click to</span>
                                <a href="#" id="login_form" class="">Login</a>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Login/Register End here -->
            </div>
        </div>

        <!--Start : Script for login and register page-->

        <script type="text/javascript">
            $("#modal_trigger").leanModal({ top: 100, overlay: 0.6, closeButton: ".modal_close" });
            $(function () {
                // Calling Login Form
                $("#login_form").click(function () {
                    $(".user_register").hide();
                    $(".user_login").show();
                    $(".header_title").text('Login');
                    return false;
                });
                // Calling Register Form
                $("#register_form").click(function () {
                    $(".user_login").hide();
                    $(".user_register").show();
                    $("#Registration").show();
                    $("#message1").hide();
                    $("#message2").hide();
                    $("#message3").hide();
                    $(".header_title").text('Signup');
                    return false;
                });


            })

            function SaveForm() {
                var fullname = $("#Fullname").val();
                var email = $("#Email").val();
                var contact = $("#Contactnumber").val();
                var name = $("#User").val();
                var pwd = $("#Password").val();

                if (name == '' || pwd == '' || email == '' || fullname == '' || contact == '') {
                    $("#message1").hide();
                    $("#message3").hide();
                    $("#message2").show();
                    event.preventDefault();
                    return false;
                }

                var data = $("#Registration").serialize();
                $.ajax({
                    type: "post",
                    data: data,
                    url: "/Register/SaveData",
                    success: function (result) {
                        if (result == "Failed") {
                            $("#Registration")[0].reset();
                            $("#message3").show();
                        }
                        else {
                            event.preventDefault();
                            $("#message1").show();
                            $("#message2").hide();
                            $("#Registration")[0].reset();
                            $("#Registration").hide();
                        }
                    }
                });
                event.preventDefault();
            }

            $("#msg").hide();
            var Login = function () {
                var data = $("#loginForm").serialize();
                $.ajax({
                    type: "post",
                    url: "Register/CheckVaildUser",
                    data: data,
                    success: function (result) {
                        if (result == "Fail") {
                            $("#loginForm")[0].reset();
                            $("#msg").show();
                        }
                        else {

                            window.location.href = "@Url.Action("About", "Home")"; 
                        }

                    }
                });

            }
        </script>

        <!-- End : Script for login and register page-->


    </header>
    <!--Header End Here-->
    <div>
        @RenderBody();
    </div>

    <!--Footer Section Start-->
    <footer id="footer">
        <div id="footer-widgets" class="container style-1">
            <div class="row">
                <div class="col-lg-4">
                    <div class="widget widget_text">
                        <h2 class="widget-title"><span>ABOUT US</span></h2>
                        <div class="textwidget">
                            <a href="index1.html" class="footer-logo">
                                <img src="../../assets/images/footer-logo.png" alt="Awesome Logo">
                            </a>
                            <p>
                                Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget. Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit ege  Aenean suscipit eget mi act fermentum phasellus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget widget_links">
                        <h2 class="widget-title"><span>COMPANY LINKS</span></h2>
                        <ul class="wprt-links clearfix col2">
                            <li>
                                <a href="#">History</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Team &amp; Awards</a>
                            </li>
                            <li>
                                <a href="#">Delivery Methods</a>
                            </li>
                            <li>
                                <a href="#">Community</a>
                            </li>
                            <li>
                                <a href="#">Safety</a>
                            </li>
                            <li>
                                <a href="#">News &amp; Events</a>
                            </li>
                            <li>
                                <a href="#">Sustainability</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Portfolio</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">Shop</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget widget_information">
                        <h2 class="widget-title"><span>CONTACT INFO</span></h2>
                        <ul>
                            <li class="address clearfix">
                                <span class="hl">Address:</span>
                                <span class="text">123 Main Street, St. NW Ste, 1 Washington, DC,USA.</span>
                            </li>
                            <li class="phone clearfix">
                                <span class="hl">Phone:</span>
                                <span class="text">+56 (0) 012 345 6789</span>
                            </li>
                            <li class="email clearfix">
                                <span class="hl">E-mail:</span>
                                <span class="text">business@support.com</span>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_socials">
                        <div class="socials">
                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom" class="clearfix style-1">
            <div id="bottom-bar-inner" class="wprt-container">
                <div class="bottom-bar-inner-wrap">
                    <div class="bottom-bar-content">
                        <div id="copyright">
                            EDUCATION TEMPLATE © DESIGN BY MARK EDUCATE

                        </div>
                        <!-- /#copyright -->
                    </div>
                    <!-- /.bottom-bar-content -->
                    <div class="bottom-bar-menu">
                        <ul class="bottom-nav">
                            <li>
                                <a href="#/">HISTORY</a>
                            </li>
                            <li>
                                <a href="#/">FAQ</a>
                            </li>
                            <li>
                                <a href="#/">EVENTS</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.bottom-bar-menu -->
                </div>
            </div>
        </div>
    </footer>
    <!--Footer Section End-->
    
    <script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../assets/js/tether.min.js"></script>
    <script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
    <!-- carousel Js -->

    <script src="../../assets/js/owl.carousel.js" type="text/javascript"></script>
    <!-- imagesloaded Js -->
    <script src="../../assets/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <!-- masonry,isotope Effect Js -->
    <script src="../../assets/js/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="../../assets/js/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="../../assets/js/jquery.appear.js" type="text/javascript"></script>
    <!-- parallax Js -->
    <script src="../../assets/js/jquery.parallax-1.1.3.js" type="text/javascript"></script>
    <script src="../../assets/js/jquery.appear.js" type="text/javascript"></script>
    <!-- revolution Js -->
    <script type="text/javascript" src="../../assets/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../../assets/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../../assets/js/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="../../assets/js/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="../../assets/js/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="../../assets/js/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="../../assets/js/jquery.revolution.js"></script>
    <script src="../../assets/js/custom.js" type="text/javascript"></script>
</body>
</html>
